<div class="pinned">
  <mat-toolbar color="primary" class="toolbar">
    <app-timeline-controller (changeDateRange)="changeDateRange($event)"></app-timeline-controller>
    <!--Push the buttons to the right and left sides.-->
    <div fxFlex></div>
    <app-timeline-toolbar (saveSnapshot)="snapshot()" (addTextbox)="addTextbox()"></app-timeline-toolbar>
  </mat-toolbar>
  <div class="customizableTimeline makeGutters">
    <app-customizable-timeline class="card" [dateRange]="dateRange" (updateEventLines)="updateEventLines($event)"></app-customizable-timeline>
  </div>
</div>
<div fxLayout="column" class="cardContainer makeGutters" fxLayoutAlign="start" id="{{CARDHOLDER}}">
  <app-data-selector-menu (addCard)="addConceptCard($event)" (addTextbox)="addTextbox()"></app-data-selector-menu>
  <div fxLayout="column" dragula="graphcards" id="{{CARDHOLDER}}" class="draggable">
    <div *ngFor="let element of displayedConcepts" [attr.data-index]="element['id']" class="displayedConcept">
      <app-textboxcard *ngIf="element.concept ==='textbox'" [id]="element.id" [noteString]="element.value" (onCheck)="updateCheckedConcepts($event)"
        (onRemove)="removeDisplayedCard($event)"></app-textboxcard>
      <app-multigraphcard *ngIf="element.concept !=='textbox'" [resourceCodeGroups]="element.concept" [dateRange]="dateRange"
        [eventlines]="eventlines" [id]="element.id" (onCheck)="updateCheckedConcepts($event)" (onRemove)="removeDisplayedCard($event)">
      </app-multigraphcard>

      <app-data-selector-menu (addCard)="addConceptCard($event, element.id)" (addTextbox)="addTextbox(element.id)"></app-data-selector-menu>
    </div>
  </div>
</div>