.cardContainer {
  background-color: #002356; /* PRIMARY_COLOR */
  display: flex;
  padding: 15px;
  width: 100%;
  min-height: 100%;
  /* Disable selecting/highlighting on the page. */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Chrome and Opera */
  margin-top: 240px;
}

.mat-toolbar {
  background-color: #00002d; /* PRIMARY_COLOR, dark variant */
}

::ng-deep .gu-mirror .chartBorder {
  opacity: 1 !important;
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36) !important;
}

.pinned {
  background-color: #002356; /* PRIMARY_COLOR */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.customizableTimeline {
  padding: 15px;
}

.makeGutters {
  padding-right: 100px;
  padding-left: 100px;
}

::ng-deep .mat-toolbar-single-row {
  white-space: unset !important;
}
