<mat-toolbar color="primary" class="toolbar">
  <app-timeline-controller (changeDateRange)="changeDateRange($event)" [encounters]="this.setupDataService.encounters"
    [selectedEncounter]="this.setupDataService.selectedEncounter"></app-timeline-controller>
  <!--Push the buttons to the right and left sides.-->
  <div fxFlex class="flexSpacer"></div>
  <app-timeline-toolbar (saveSnapshot)="snapshot()" (addTextbox)="addTextbox()">
  </app-timeline-toolbar>
</mat-toolbar>
<div *ngIf="useDebugger">
  <app-debugger></app-debugger>
</div>
<div fxLayout="column" class="cardContainer makeGutters" fxLayoutAlign="start">
  <app-data-selector-menu (addCard)="addConceptCard($event)" (addTextbox)="addTextbox()"
    (addCustomTimeline)="addCustomTimeline()"></app-data-selector-menu>
  <div fxLayout="column" dragula="graphcards" class="draggable">
    <div *ngFor="let element of displayedConcepts" [attr.data-index]="element['id']" class="displayedConcept">
      <app-textboxcard *ngIf="element['concept'] ==='textbox'" [id]="element['id']" [noteString]="element['value']"
        (removeEvent)="removeDisplayedCard($event)"></app-textboxcard>
      <!-- <app-customizable-timeline *ngIf="element['concept']==='customTimeline'" [id]="element['id']" [xAxis]="xAxis"
        [deletedData]="element['value']" (updateEventLines)="updateEventLines($event)"
        (removeEvent)="removeDisplayedCard($event)">
      </app-customizable-timeline>-->
      <app-multigraphcard *ngIf="element['concept'] !=='textbox' && element['concept'] !== 'customTimeline'"
        [axisGroup]="element['concept']" [dateRange]="xAxis.dateRange" [eventlines]="eventlines" [id]="element['id']"
        (removeEvent)="removeDisplayedCard($event)">
      </app-multigraphcard>
      <app-data-selector-menu (addCard)="addConceptCard($event, element['id'])" (addTextbox)="addTextbox(element['id'])"
        (addCustomTimeline)="addCustomTimeline(element['id'])"></app-data-selector-menu>
    </div>
  </div>
</div>
