.addCardInline {
  color: rgb(248, 248, 248);
  display: inline-block;
  opacity: 0.15;
  transition: opacity 0.3s;
  /* Needed so that there's not enough space between the cards to hold the icon,
  just enough to hold the line placeholder.*/
  margin-bottom:-14px;
  margin-top:-14px;
  display: flex;
  display: -ms-flexbox; /* For IE10 */
  flex-direction: row;
  -ms-flex-direction: row; /* For IE10 */
  align-content: center;
  -ms-flex-line-pack: center;  /* Align content: center conversion for IE10 */
  justify-content: flex-start;
  -ms-flex-pack: start;  /* Justify content: start conversion for IE10 */
  align-items: center;
  -ms-flex-align: center;  /* Align items: center conversion for IE10 */
  flex: 1 1 0%;
  -ms-flex: 1 1 0%; /* For IE10 */
}

span {
  border: 2px dashed rgb(248, 248, 248);
  /* Only outline the bottom instead of all four sides.*/
  border-style: none none dotted;
  display: inline-block;
  flex: 1 1 0%;
  -ms-flex: 1 1 0%; /* For IE10 */
}

.addCardInline:hover {
  opacity: 1;
}

.conceptSelector {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 200px;
}

.mainConceptSelector {
  border-left-style: solid;
  border-left-width: 5px;
}

::ng-deep .mat-menu-item  {
  line-height: 20px !important;
}

::ng-deep .mat-list-item-content {
  margin-top: 8px;
}

::ng-deep .mat-autocomplete-panel .mat-list-item-content {
  margin-top: -8px; /* Styling for autocomplete menu items needs to be different.*/
}

::ng-deep .mat-option {
  height: fit-content !important;
  overflow: visible !important;
  padding: 0px !important;
}

.conceptForm {
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep .autoMenu.mat-menu-panel {
  min-width: 300px;
}

.conceptFormField {
  width: 100%;
}

button {
  font-family: 'Work Sans', sans-serif;
}