.conceptSelector {
  padding-left: 0px !important;
}

.masterButton {
  font-size: 30px;
  color:rgba(0,0,0,.54);
  height: 30px;
  width: 30px;
}

.mainConceptSelector {
  border-left-style: solid;
  border-left-width: 5px;
}

::ng-deep .mat-menu-item  {
  line-height: 20px !important;
}

::ng-deep .mat-option {
  height: fit-content !important;
  overflow: visible !important;
  padding: 0px !important;
}

.conceptForm {
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep .autoMenu.mat-menu-panel {
  min-width: 300px;
}

.conceptFormField {
  width: 100%;
}