.mat-icon {
  color: white;
}

.conceptSelector {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 200px;
}

.mainConceptSelector {
  border-left-style: solid;
  border-left-width: 5px;
}

::ng-deep .mat-menu-item  {
  line-height: 20px !important;
}

::ng-deep .mat-list-item-content {
  margin-top: 8px;
}

::ng-deep .mat-autocomplete-panel .mat-list-item-content {
  margin-top: -8px; /* Styling for autocomplete menu items needs to be different.*/
}

::ng-deep .mat-option {
  height: fit-content !important;
  overflow: visible !important;
  padding: 0px !important;
}

.conceptForm {
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep .autoMenu.mat-menu-panel {
  min-width: 300px;
}

.conceptFormField {
  width: 100%;
}
