.datePicker {
  background-color: white;
  padding-top: 20px;
}

.mat-form-field {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}

::ng-deep .mat-h2 {
  margin-bottom: 0px !important;
}

/* Remove extra padding below the button. */
::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

::ng-deep .mat-h2 {
  margin-bottom: 0px !important;
}

::ng-deep td.available{
  color: black;
}

::ng-deep td.notInEncounter {
  color: grey !important;
  opacity: .5;
  text-decoration: line-through;
}

::ng-deep td.inEncounter {
  color: #4527A0 !important; /* Deep Purple 800 */
  background-color: #e5f3ec;
}

::ng-deep td.active.available.inEncounter {
  color: white !important;
}

input {
  font-family: 'Work Sans', sans-serif;
}

/* Change colors of ngx-datepicker to match custom material theme */
::ng-deep .ranges button.active {
  background-color: #4527A0 !important; /* Deep Purple 800 */
}

::ng-deep .md-drppicker .btn {
  background-color: #4527A0 !important; /* Deep Purple 800 */
}

::ng-deep td.active.available {
  background-color: #4527A0 !important; /* Deep Purple 800 */
}

.errorIcon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: default;
}
