<!-- This component is a card that holds a label, one or more graphs graph, and a dragging handle. -->
<!-- Left border matches up with the clinical concept group color. -->
<div fxFlex fxLayout="row">
  <mat-card fxFlex [attr.id]="id" fxLayout="row" fxLayoutAlign="none center" (resized)="this.renderContainedGraphs()">
    <div fxFlex fxFlexAlign="stretch" fxShrink='0' fxGrow='0' [style.background-color]="this.color.hsl().string()">
      <mat-icon matTooltip="This card is view-only">visibility</mat-icon>
    </div>
    <div>
      <!-- Show grabbers to indicate dragging. -->
      <mat-icon>
        drag_indicator
      </mat-icon>
    </div>
    <div class="checkbox" fxFlex fxShrink="0" fxGrow="0">
      <mat-checkbox [(ngModel)]="isChecked" (change)="checkboxChange($event)"></mat-checkbox>
    </div>
    <div fxFlex fxLayout="column" fxShrink="0" fxGrow="0">
      <div fxFlex class="label">{{label}}</div>
      <div *ngIf="uniqueDisplayGroups.length > 1">
        <div class="legendLabel">Legend</div>
        <div fxLayout="row" class="legend" *ngFor="let displayGroup of uniqueDisplayGroups" (mouseover)="focusOnDisplayGroup(displayGroup, $event)"
          (mouseout)="resetChart(displayGroup, $event)">
          <span [style.background-color]="displayGroup.color.hsl().string()">
          </span>
          <div fxFlex>{{displayGroup.label}}</div>
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="column">
      <div fxFlex *ngFor="let axis of card.axes" fxShrink="0" fxGrow="0">
        <!-- Show a spinner while the promises are being resolved. -->
        <mat-spinner *ngIf="!axis.isResolved" [diameter]="30"></mat-spinner>
        <ng-container *ngIf="axis.isResolved" [ngSwitch]="axis.chartType">
          <app-linegraph *ngSwitchCase="ChartType.LINE" [data]="axis.data" [dateRange]="this.dateRange"></app-linegraph>
          <app-scatterplot *ngSwitchCase="ChartType.SCATTER" [data]="axis.data" [dateRange]="this.dateRange"></app-scatterplot>
          <app-stepgraph class="stepgraph" *ngSwitchCase="ChartType.STEP" [data]="axis.data" [dateRange]="this.dateRange">
          </app-stepgraph>
          <app-microbio-graph *ngSwitchCase="ChartType.MICROBIO" [data]="axis.data" [dateRange]="this.dateRange"></app-microbio-graph>
        </ng-container>
      </div>
    </div>
    <div fxFlex fxShrink="0" fxGrow="0">
      <mat-icon class="removeCardButton" (click)="removeCard()">clear</mat-icon>
    </div>

  </mat-card>
</div>
