::ng-deep canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
::ng-deep .chartjs-tooltip {
  opacity: 1;
  position: absolute;
  /* Disables interactions with the tooltip. Used here to remove
  odd behavior where the tooltip does not immediately show up
  despite hovering over the point */
  pointer-events: none;
  /* Show the tooltip above everything else. */
  z-index: 1000;
}

::ng-deep .chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* All the below styles apply to elements within the graphs. Because these
are nested inside the components and within C3 divs, we have to prefix the
style names with ::ng-deep.  */

::ng-deep .c3-tooltip {
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9;
}

::ng-deep table {
  background: #fff;
  border: solid 1px #ddd;
}

::ng-deep .c3-tooltip tr {
  border: 1px solid #CCC;
}

::ng-deep .c3-tooltip > tbody > tr > th {
  width: 100%;
  word-wrap: break-word;
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
}

::ng-deep .c3-tooltip td {
  width: 125px;
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

::ng-deep .order-region {
  fill: rgb(179, 157, 219); /* Secondary color */
  stroke:  rgb(179, 157, 219); /* Secondary color */
}
