<mat-toolbar class="accentBackgroundColor">
  <h1 style="color: white;">{{uiConstants.INITIAL_CONFIGURATION_HEADER}}</h1>
  <div class="actions">
    <button mat-raised-button (click)="onContinue()" cdkFocusInitial id="continue">
      {{uiConstants.CONTINUE}}
    </button>
  </div>
</mat-toolbar>
<div *ngIf="useDebugger">
  <app-debugger></app-debugger>
</div>
<div class="defaultBackgroundColor mainSetup">
  <div>
    <h2>{{uiConstants.WHICH_ENCOUNTER_FIRST}}</h2>
    <mat-radio-group>
      <div *ngFor="let encounter of encounters">
        <mat-radio-button [value]="encounter">
          {{encounter.period.toFormat('MM/dd/yyyy')}} {{uiConstants.ENCOUNTER}}
        </mat-radio-button>
      </div>
      <div>
        <mat-radio-button value="undefined" [checked]="true">
          {{uiConstants.LAST_SEVEN_DAYS}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <div class="checkboxActions">
    <h2>{{uiConstants.WHICH_CONCEPTS_FIRST}}</h2>
    <button mat-raised-button (click)="selectAll()" id="continue">
      {{uiConstants.SELECT_ALL}}
    </button>
    <button mat-raised-button (click)="clearAll()" id="continue">
      {{uiConstants.CLEAR_SELECTION}}
    </button>
  </div>
  <form class="conceptForm">
    <mat-form-field class="conceptFormField">
      <input matInput placeholder="{{uiConstants.SEARCH_FOR_A_CONCEPT}}" [formControl]="conceptCtrl">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <div *ngFor="let entry of displayGroupingOptions | async">
      <div [style.color]="entry[0].fill.hsl().string()" class="category">
        <h3>{{entry[0].label}}</h3>
      </div>
      <div *ngFor="let element of entry[1].sort(sortResources)" class="conceptOptions">
        <mat-checkbox [(ngModel)]="checkedConcepts[element.label]" [ngModelOptions]="{standalone: true}"
          [disabled]="!codeGroupAvailable.get(element.label)">
          {{element.label}} <span class="grayout"
            *ngIf="!codeGroupAvailable.get(element.label)">{{uiConstants.NO_DATA_PAST_SIX_MOS}}</span>
        </mat-checkbox>
      </div>
    </div>
    <div *ngIf="(displayGroupingOptions | async).length === 0" class="noResults">
      {{uiConstants.NO_RESULTS}}
    </div>
  </form>
</div>