button {
  margin-right: 10px;
}

h3 {
  color: white;
  padding: 5px;
  margin: 10px;
}

mat-icon {
  padding-top: 20px;
  vertical-align: bottom;
}

.actions {
  margin-left: auto;
  padding: 20px;
}

.category {
  padding-left: 10px;
}

.mainSetup {
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
  color: black;
  height: 100%;
}

.conceptOptions {
  padding-left: 25px;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  display: -ms-flexbox;
}
