.title {
  font-family: 'Quicksand', sans-serif;
}

.mat-stroked-button {
  font-family: 'Quicksand', sans-serif;
}

.mat-raised-button {
  font-family: 'Quicksand', sans-serif;
}

.actions {
  margin-left: auto;
  padding: 20px;
}

button {
  margin-right: 10px;
}

.description {
  font-family: 'Quicksand', sans-serif;
}

.mat-dialog-title {
  margin-bottom: 0px;
}

.category {
  font-family: 'Quicksand', sans-serif;
  margin-top: 10px;
}

mat-icon {
  padding-top: 20px;
  vertical-align: bottom;
}

.mainSetup {
  width: 100%;
  padding-top: 20px;
  padding-left: 40px;
  color: white;
  height: 100%;
  background-color:#002356; /* PRIMARY_COLOR */
}

::ng-deep app-setup .mat-form-field-empty.mat-form-field-label {
  color: white;
}

::ng-deep app-setup .mat-form-field-label {
  color:white !important;
}

::ng-deep app-setup .mat-form-field-underline {
  background-color: white !important;
}

::ng-deep app-setup .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white !important;
}

::ng-deep app-setup .mat-form-field-underline {
  background-color: white !important;
}

app-setup .mat-input-placeholder {
  color: white;
}

.mat-toolbar {
  background-color: #00002d; /* PRIMARY_COLOR, dark variant */
}

::ng-deep  app-setup .mat-form-field-wrapper {
  color: white;
}

::ng-deep app-setup .mat-checkbox-frame {
  border-color: white;
}

::ng-deep app-setup .mat-radio-outer-circle {
  border-color: white;
}

::ng-deep app-setup .mat-checkbox-disabled .mat-checkbox-label {
  color: gray;
}

.noResults {
  font-family: "Roboto", sans-serif;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  display: -ms-flexbox;
}
