<mat-toolbar class="accentBackgroundColor">
  <h1 style="color: white;">{{uiConstants.INITIAL_CONFIGURATION_HEADER}}&nbsp;&nbsp;</h1>
  <img src="assets/images/logo.png" style="height:40px">
  <div class="actions">
    <button mat-raised-button (click)="onContinue()" cdkFocusInitial id="continue">
      {{uiConstants.CONTINUE}}
    </button>
  </div>
</mat-toolbar>
<div *ngIf="useDebugger">
  <app-debugger></app-debugger>
</div>
<div class="defaultBackgroundColor mainSetup">
  <div>
    <h2>{{uiConstants.WHICH_ENCOUNTER_FIRST}}</h2>
    <mat-expansion-panel *ngIf="setupDataService.encountersError" class="encounters-error">
      <mat-expansion-panel-header>
        <mat-icon>error</mat-icon>Error loading patient encounters.
      </mat-expansion-panel-header>Technical details:<br>{{setupDataService.encountersError.message}}
    </mat-expansion-panel>
    <mat-radio-group>
      <div *ngFor="let encounter of encounters">
        <mat-radio-button [value]="encounter.period">
          {{encounter.period.toFormat('MM/dd/yyyy')}} {{uiConstants.ENCOUNTER}}
        </mat-radio-button>
      </div>
      <div *ngFor="let item of staticTimeOptions">
        <mat-radio-button [value]="item[0]" [checked]="item[2]">
          {{item[1]}}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="checkboxActions">
    <h2>{{uiConstants.WHICH_CONCEPTS_FIRST}}</h2>
    <button mat-raised-button (click)="selectAll()" id="continue">
      {{uiConstants.SELECT_ALL}}
    </button>
    <button mat-raised-button (click)="clearAll()" id="continue">
      {{uiConstants.CLEAR_SELECTION}}
    </button>
  </div>
  <form class="conceptForm">
    <mat-form-field class="conceptFormField">
      <input matInput placeholder="{{uiConstants.SEARCH_FOR_A_CONCEPT}}" [formControl]="conceptCtrl">
      <mat-icon matPrefix class="search-icon">search</mat-icon>
    </mat-form-field>
    <div>
      <!--rowHeight is 28px since that is what the line height is for the content. -->
      <mat-grid-list cols="2" rowHeight="28px" gutterSize="0px">
        <!--rowspan is set to the number of concepts in the grouping + 2 (the category header row and a blank row for spacing) -->
        <mat-grid-tile class="category-group-tile" *ngFor="let entry of displayGroupingOptions | async"
          [rowspan]="(2 +entry[1].length)">
          <div>
            <div [style.color]="entry[0].fill.hsl().string()" class="category">
              <h3 class="category-label">{{entry[0].label}}</h3>
            </div>
            <div *ngFor="let element of entry[1].sort(sortResources)" class="conceptOptions">
              <mat-checkbox [(ngModel)]="checkedConcepts[element.label]" [ngModelOptions]="{standalone: true}"
                [disabled]="codeGroupAvailable.get(element.label) === statusConsts.DATA_UNAVAILABLE">
                {{element.label}} <span class="grayout"
                  *ngIf="codeGroupAvailable.get(element.label) === statusConsts.DATA_UNAVAILABLE">{{uiConstants.NO_DATA_PAST_SIX_MOS}}</span>
                <span class="grayout"
                  *ngIf="codeGroupAvailable.get(element.label) === statusConsts.LOADING">{{uiConstants.CHECKING_DATA_AVAILABILITY}}</span>
              </mat-checkbox>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div *ngIf="displayGroupingOptions && (displayGroupingOptions | async).length === 0" class="noResults">
      {{uiConstants.NO_RESULTS}}
    </div>
  </form>
</div>