@import '~@angular/material/theming';

@include mat-core();

// Used http://mcg.mbitson.com to generate the material palette.

// #5E35B1 -- PRIMARY_COLOR
$verily-primary: (
    50 : #ece7f6,
    100 : #cfc2e8,
    200 : #af9ad8,
    300 : #8e72c8,
    400 : #7653bd,
    500 : #5e35b1,
    600 : #5630aa,
    700 : #4c28a1,
    800 : #422298,
    900 : #311688,
    A100 : #cbbeff,
    A200 : #a38bff,
    A400 : #7a58ff,
    A700 : #663eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// #C41061 -- SECONDARY_COLOR
$verily-secondary: (
  50 : #f8e2ec,
  100 : #edb7d0,
  200 : #e288b0,
  300 : #d65890,
  400 : #cd3479,
  500 : #c41061,
  600 : #be0e59,
  700 : #b60c4f,
  800 : #af0945,
  900 : #a20533,
  A100 : #ffcdd9,
  A200 : #ff9ab2,
  A400 : #ff678b,
  A700 : #ff4d77,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);




$verily-app-primary: mat-palette($verily-primary);
$verily-app-accent:  mat-palette($verily-secondary);

$verily-app-warn:    mat-palette($mat-red);

$verily-app-theme: mat-light-theme($verily-app-primary, $verily-app-accent, $verily-app-warn);

@include angular-material-theme($verily-app-theme);