<div class="datePicker" fxLayout="row" fxLayoutGap="10px" class="mat-h2">
  <input type="button" class="mat-raised-button" ngxDaterangepickerMd [(ngModel)]="selected"
    [minDate]="earliestAvailableDate" [maxDate]="latestAvailableDate" [linkedCalendars]="true"
    [isCustomDate]="addCustomClass" (datesUpdated)="datesUpdated($event)" [ranges]="datePickerRanges"
    [alwaysShowCalendars]="true" [keepCalendarOpeningWithRange]="true" matTooltip="{{uiConstants.CHANGE_DATE_RANGE}}" />
  <mat-icon *ngIf="hasEncounterError" class="errorIcon"
    matTooltip="{{uiConstants.BAD_ENCOUNTER_ERROR}} {{encountersError ? encountersError.shortMessage : ''}}">
    warning
  </mat-icon>
</div>
