<div class="datePicker" fxLayout="row" fxLayoutGap="10px" class="mat-h2">
  <input type="button" class="mat-raised-button" ngxDaterangepickerMd [(ngModel)]="selected"
    [minDate]="earliestAvailableDate" [maxDate]="latestAvailableDate" [linkedCalendars]="true"
    [isCustomDate]="addCustomClass" (datesUpdated)="datesUpdated($event)" [ranges]="ranges" [alwaysShowCalendars]="true"
    [keepCalendarOpeningWithRange]="true" matTooltip="Change date range" />
  <mat-icon *ngIf="encounterError" class="errorIcon"
    matTooltip="Unable to retrieve hospital visit dates for this patient. You can select any time period in the past six months.">
    warning</mat-icon>
</div>