.datePicker {
  background-color: white;
  padding-top: 20px;
}

.mat-form-field {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}

::ng-deep .mat-h2 {
  margin-bottom: 0px !important;
}

/* Remove extra padding below the button. */
::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 0px !important;
}

::ng-deep .mat-h2 {
  margin-bottom: 0px !important;
}

::ng-deep td.available{
  color: black;
}

input {
  font-family: 'Quicksand', sans-serif;
}

/* Change colors of ngx-datepicker to match custom material theme */
::ng-deep .ranges button.active {
  background-color: rgb(0, 35, 86) !important; /* Primary color */
}

::ng-deep .md-drppicker .btn {
  background-color: rgb(0, 35, 86) !important; /* Primary color */
}

::ng-deep td.active.available {
  background-color: rgb(0, 35, 86) !important; /* Primary color */
}