<div fxLayout="column" fxLayoutAlign="space-around start">
  <div>
    <div class="date">
      <div class="mockPlaceholder">Date *</div>
      <input class="dateInput form-control" placeholder="yyyy-mm-dd" name="datePicker" [(ngModel)]="date" ngbDatepicker
        #datePicker="ngbDatepicker" (click)="datePicker.toggle()">
      <div *ngIf="!date || isInvalidDate()" class="mat-error">Invalid date</div>
    </div>
    <div class="time">
      <div class="mockPlaceholder">Time *</div>
      <ngb-timepicker [(ngModel)]="time" [formControl]="timeFormControl" required [spinners]="true">
      </ngb-timepicker>
      <div *ngIf="!timeFormControl.value" class="mat-error">Invalid time</div>
    </div>
    <div *ngIf="dateNotInRange()" class="mat-error">
      Caution: Date outside of current range
    </div>
  </div>
  <div fxLayout="column" fxFlex>
    <mat-form-field class="inputTitle">
      <input matInput [(ngModel)]="userTitle" placeholder="Add title" required id="dialogTitle">
      <mat-error>Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field class="inputDescription">
      <textarea matInput [(ngModel)]="userDescription" placeholder="Add description" id="dialogDescription"></textarea>
    </mat-form-field>
    <div class="colorPicker" fxLayout="row" fxLayoutGap="5px">
      <mat-label class="mat-body">Flag color</mat-label>
      <mat-button-toggle-group style="border: 0px" #group="matButtonToggleGroup" [(ngModel)]="selectedColor"
        value="BOSTON_YELLOW">
        <mat-button-toggle *ngFor="let color of listOfColors" [value]="color">
          <mat-card style.backgroundColor="{{color}}"></mat-card>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()" id="cancelButton" class="cancelButton">Cancel</button>
      <button [disabled]="findIncompleteFields()" mat-raised-button (click)="onSave()" color="primary"
        id="saveButton">Save</button>
    </div>
  </div>
