<div fxLayout="column" fxLayoutAlign="space-around start">
  <div>
    <mat-icon>access_time</mat-icon>
    <mat-form-field>
      <input matInput [matDatepicker]="datePicker" placeholder="Date" [formControl]="dateFormControl"
        (click)="datePicker.open()" required>
      <mat-error *ngIf="dateFormControl.invalid">Invalid date</mat-error>
      <mat-hint *ngIf="dateNotInRange()">
        Caution: Date outside of current range
      </mat-hint>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="timeFormControl" placeholder="Time" [matAutocomplete]="auto" required>
      <mat-error *ngIf="timeFormControl.invalid">Invalid time</mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let time of listOfTimes" [value]="time[24]">
          {{time[24]}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxFlex>
    <mat-form-field class="inputTitle">
      <input matInput [(ngModel)]="userTitle" placeholder="Add title" required id="dialogTitle">
      <mat-error>Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field class="inputDescription">
      <textarea matInput [(ngModel)]="userDescription" placeholder="Add description" id="dialogDescription"></textarea>
    </mat-form-field>
    <div class="colorPicker" fxLayout="row" fxLayoutGap="5px">
      <mat-label class="mat-body">Flag color</mat-label>
      <mat-button-toggle-group style="border: 0px" #group="matButtonToggleGroup" [(ngModel)]="selectedColor"
        value="BOSTON_YELLOW">
        <mat-button-toggle *ngFor="let color of listOfColors" [value]="color">
          <mat-card style.backgroundColor="{{color}}"></mat-card>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()" id="cancelButton" class="cancelButton">Cancel</button>
      <button [disabled]="findIncompleteFields()" mat-raised-button (click)="onSave()" color="primary"
        id="saveButton">Save</button>
    </div>
  </div>