.timelinePicker {
  width: 100%;
  display: flex;
}

.timelinePicker .mat-form-field {
  width: 130px;
}

.clock {
  margin-right: 20px;
  margin-top: 16px;
  display: inline-block;
}

.timelineInputs {
  width: 100%;
  display: inline-flex;
}

.inputTitle {
  width: 100%;
}

.mat-radio-button {
  margin: 5px;
}

.mat-button-toggle-group {
  height: 20px !important;
}

.mat-button-toggle {
  width: 50px !important;
}

.mat-card {
  min-width: 15px;
  min-height: 15px;
  padding: 0px;
}

.inputDescription {
  width: 100%;
}

.mat-dialog-actions {
  float: right;
}

input {
  height: 20px;
}