<div class="timelineToolbarMain" fxLayout="row">
  <img src="assets/images/logo.gif">
  <div style="margin-top: 5px" *ngIf="showMockDataMessage">{{uiConstants.SYNTH_DATA}}</div>
  <div style="margin-top: 5px"> {{uiConstants.LOINC_VERIFIED_STRING}}</div>
  <button mat-icon-button [matMenuTriggerFor]="helpMenu" matTooltip="Help">
    <mat-icon class="toolbarButton">help_outline</mat-icon>
  </button>
  <mat-menu #helpMenu="matMenu">
    <button mat-menu-item (click)="openIFU()">
      <span>{{uiConstants.IFU}}</span>
    </button>
    <button mat-menu-item matTooltip="{{uiConstants.LAUNCH_TUTORIAL}}" (click)="openHelpDialog()">
      <span>{{uiConstants.LAUNCH_TUTORIAL}}</span>
    </button>
  </mat-menu>
</div>
