<div class="timelineToolbarMain" fxLayout="row">
  <div *ngIf="showMockDataMessage">This is synthesized data used for demo purposes only.</div>
  <button mat-icon-button matTooltip="Launch Tutorial" (click)="openHelpDialog()">
    <mat-icon class="toolbarButton">help_outline</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Save a static image of this page to a PowerChart clinical note"
    (click)="snapshot()">
    <mat-icon class="toolbarButton">
      save
    </mat-icon>
  </button>
</div>