.configurationCard {
  background-color: transparent;
  border-left-style: solid;
  border-left-width: 5px;
  height: 40px !important;
  padding: 3px;
}


.disableDragging {
  color: gray;
  cursor: not-allowed;
  padding-top: 4px;
}

.listItem {
  display: inline-block;
  height: fit-content;
  padding-left: 5px !important;
}

.label {
  height: fit-content;
  line-height: 15px;
}

.tinytext {
  font-size: 12px;
  line-height: 15px;
}
