<div class="configurationCard {{axisGroup.dataAvailable ? 'enableDragging': 'disableDragging'}}"
  [style.border-left-color]="axisGroup.dataAvailable ? axisGroup.displayGroup.fill.hsl().string(): 'rgb(197, 185, 172)'">
  <!-- BOSTON_WARM_GRAY -->
  <mat-list-item>
    <div class="listItem">
      <div style="display:inline-block; vertical-align: middle;">
        <div class="label">
          {{axisGroup.label}}
        </div>
        <div class="tinytext" *ngIf="!axisGroup.dataAvailable">
          No data between
          {{appTimeIntervalString}}
        </div>
      </div>
    </div>
  </mat-list-item>
</div>
