.mat-card {
  cursor: grab;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: 35px; /* Leave space for the "add card" button. */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 0px;
  transition: box-shadow .1s;
  background-color: rgb(248, 248, 248);
}

.mat-card:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

.colorbar {
  margin-right: 6px;
  min-width: 24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.mat-icon {
  color: rgb(34, 44, 66);
  cursor: pointer;
  opacity: .3;
  transition: opacity .3s;
}

.removeCardButton {
  opacity: 0;
}

.mat-card:hover .mat-icon {
  opacity: .8;
}

.mat-card:hover .dragCardIcon.mat-icon {
  opacity: .4;
}

.dragCardIcon {
  opacity: 0;
  margin-bottom: 15px;
}

.labelColumn{
  padding: 3px;
}

.label {
  max-width: 200px;
  min-width: 200px;
  word-wrap: break-word;
}

::ng-deep .mat-input-element:disabled{
  color: rgb(0,0,0, .7) !important;
}