.previewSave {
  background-color:#202020; /* GREY_900 */
  display: flex;
  padding: 15px;
  width: 90%;
  overflow: auto;
  max-height: 80%;
  /* Disable selecting/highlighting on the page. */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Chrome and Opera */
}

::ng-deep .previewSave > * {
  pointer-events: none !important;
}

.mat-dialog-actions {
  float: right;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}