::ng-deep canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
::ng-deep .chartjs-tooltip {
  opacity: 1;
  position: absolute;
  pointer-events: none;
  /* Show the tooltip above everything else. */
  z-index: 1000;
}

::ng-deep .chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* All the below styles apply to elements within the graphs. Because these
are nested inside the components and within C3 divs, we have to prefix the
style names with ::ng-deep.  */

.c3-tooltip > tbody > tr > th {
  background-color: rgb(197, 185, 172); /* Boston Warm Gray */
  width: 100%;
  word-wrap: break-word;
}

::ng-deep .c3-tooltip td {
  width: 125px;
}

/* These colors need to stay consistent with the color options in the dialog for the custom timeline. */
/* Yellow grid line */
::ng-deep .c3-xgrid-line.colorF2A900 line {
  stroke: #F2A900;
}

/* Blue grid line */
::ng-deep .c3-xgrid-line.color007396 line {
  stroke: #007396;
}

/* Green grid line */
::ng-deep .c3-xgrid-line.color739600 line {
  stroke: #739600;
}

/* Pink grid line */
::ng-deep .c3-xgrid-line.colorC6579A line {
  stroke: #C6579A;
}

/* Purple grid line */
::ng-deep .c3-xgrid-line.color8C4799 line {
  stroke: #8C4799;
}

/* Red grid line */
::ng-deep .c3-xgrid-line.color80225F line {
  stroke: #80225F;
}

::ng-deep .encounter-region {
  fill: rgb(0, 35, 86); /* Primary color */
  stroke: rgb(0, 35, 86); /* Primary color */
}

::ng-deep .order-region {
  fill: rgb(179, 157, 219); /* Secondary color */
  stroke:  rgb(179, 157, 219); /* Secondary color */
}
