::ng-deep canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
::ng-deep .chartjs-tooltip {
  opacity: 1;
  position: absolute;
  pointer-events: none;
  /* Show the tooltip above everything else. */
  z-index: 1000;
}

::ng-deep .chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* All the below styles apply to elements within the graphs. Because these
are nested inside the components and within C3 divs, we have to prefix the
style names with ::ng-deep.  */

.c3-tooltip > tbody > tr > th {
  background-color: rgb(197, 185, 172); /* Boston Warm Gray */
  width: 100%;
  word-wrap: break-word;
}

::ng-deep .c3-tooltip td {
  width: 125px;
}

::ng-deep .order-region {
  fill: rgb(179, 157, 219); /* Secondary color */
  stroke:  rgb(179, 157, 219); /* Secondary color */
}
