<app-card [id]="id" [isEditable]="true" (onRemove)="remove()" (onCheck)="check($event)">
  <ng-container class="contents-block">
    <mat-form-field style="width: 95%;">
      <textarea #textArea matInput matTextareaAutosize placeholder="Enter notes here" (change)="updateValue()" (blur)="hideSave()"
        (focus)="showSave()" [(ngModel)]="noteString">
    </textarea>
    </mat-form-field>
    <!-- The save button removes focus from the text field and reappears when the user is typing in the field. -->
    <div fxFlex fxShrink="0" fxGrow="0">
      <mat-icon [id]="'save' + id" matSuffix (click)="unfocus()" style="visibility: hidden;">check</mat-icon>
    </div>
  </ng-container>
</app-card>
