<app-card [id]="id" [isEditable]="true" (removeEvent)="remove()" (editEvent)="edit()" (saveEvent)="save()"
  [ngClass]="{'inEditMode': inEditMode}">
  <ng-container class="contents-block">
    <mat-form-field style="width: 95%;">
      <textarea #textArea matInput matTextareaAutosize placeholder="Add annotation here." [disabled]="!inEditMode"
        (change)="updateValue()" [(ngModel)]="noteString">
    </textarea>
      <mat-hint> {{getHintText()}} </mat-hint>
    </mat-form-field>
  </ng-container>
</app-card>
