<div style="float: right;" mat-dialog-actions>
  <button mat-icon-button (click)="onExit()">
    <mat-icon color="primary">close</mat-icon>
  </button>
</div>
<mat-horizontal-stepper [linear]="false" #stepper>
  <!-- keep icons as numbers during edit-->
  <ng-template matStepperIcon="edit" let-index="index">
    {{index +1}}
  </ng-template>
  <mat-step label="Intro">
    <div class="stepContent">
      MedTimeLine intro screen
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Changing the dates">
    <div class="stepContent">
      <div>
        <div>
          Change the dates of the data displayed on the chart using datepickers.
        </div>
        <img src="assets/images/datepicker1.png">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Click on the datepicker icon to open a calendar.
        </div>
        <img src="assets/images/datepicker2.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Custom TimeLine">
    <div class="stepContent">
      <div>
        The Timeline feature allows you to enter custom events.
      </div>
      <div>
        <div>
          Click anywhere on the timeline to add an event.
        </div>
        <img src="assets/images/customTimeline1.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          By default, descriptions for events are hidden. Click on the expander to reveal the description.
        </div>
        <img src="assets/images/customTimeline2.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Click on the pencil icon to edit the event.
        </div>
        <img src="assets/images/customTimeline3.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Click on the trashcan icon to delete the event.
        </div>
        <img src="assets/images/customTimeline4.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Charts">
    <div class="stepContent">
      <div>
        <div>
          For charts with legends, hover over a series to highlight that series on the chart. Click on a series to hide
          it from the chart.
        </div>
        <img src="assets/images/chartUpClose1.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          The green highlighted area on some charts represents a "normal range" indicated in the standard.
        </div>
        <img src="assets/images/chartUpClose2.png">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Card Container">
    <div class="stepContent">
      <div>
        The card container displays all charts selected.
      </div>
      <div>
        <div>
          Click and drag a chart to rearrange on the page.
        </div>
        <img src="assets/images/cardContainer1.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Click on the trashcan icon to remove a card from the page. Press "Undo" at the bottom of the page to restore.
        </div>
        <img src="assets/images/cardContainer2.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          You can add cards to the top of the page using the toolbar.
        </div>
        <img src="assets/images/cardContainer3.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Save Snapshot">
    <div class="stepContent">
      <div>
        <div>
          The "Save Snapshot" button allows you to save a static image of the current page to the patient record.
        </div>
        <img src="assets/images/saveSnapshot.gif">
      </div>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button (click)="onExit()">Close</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>