<div style="float: right;" mat-dialog-actions>
  <button mat-icon-button (click)="onExit()">
    <mat-icon color="primary">close</mat-icon>
  </button>
</div>
<mat-horizontal-stepper [linear]="false" #stepper>
  <!-- keep icons as numbers during edit-->
  <ng-template matStepperIcon="edit" let-index="index">
    {{index +1}}
  </ng-template>
  <mat-step label="Configuration">
    <div class="stepContent">
      <div>
        MedTimeLine Configuration Screen
      </div>
      <img src="assets/images/configuration.png">
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Set Date Range">
    <div class="stepContent">
      <div>
        <div>
          Click on the current date range to open the datepicker.
        </div>
        <img src="assets/images/datepicker_open.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Choose a patient encounter or pre-set time period on the left.
        </div>
        <img src="assets/images/datepicker_preset.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Alternatively, choose a custom date range.
        </div>
        <img src="assets/images/datepicker_custom.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Add Flags to Custom Timeline">
    <div class="stepContent">
      <div>
        The Custom Timeline feature allows you to enter custom events.
      </div>
      <div>
        <div>
          Click the pencil icon to enter edit mode.
        </div>
        <img src="assets/images/customTimeline_edit.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Click the timeline at a place where you would like to add a flag.
        </div>
        <img src="assets/images/customTimeline_click.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          In the dialog box, enter a title, description, and select a color for the flag.
        </div>
        <img src="assets/images/customTimeline_title.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          You can also manually adjust the date and/or time.
        </div>
        <img src="assets/images/customTimeline_time.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          While in edit mode, you can edit an existing flag, which will open up the dialog box again.
        </div>
        <img src="assets/images/customTimeline_editFlag.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          You can also remove flags while in edit mode.
        </div>
        <img src="assets/images/customTimeline_delete.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Enter Text Notes">
    <div class="stepContent">
      <div>
        You can enter notes in the main timeline display area.
      </div>
      <div>
        <div>
          Click the pencil icon to enter edit mode.
        </div>
        <img src="assets/images/annotation_edit.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        <div>
          Type in your notes, and click the save button to save the note.
        </div>
        <img src="assets/images/annotation_type.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Timelines">
    <div class="stepContent">
      <div>
        You can add, remove, and rearrange timelines to optimize the data view for specific patients.
      </div>
      <div>
        <div>
          To add a timeline, click the plus sign, then select Add Data Timeline.
          Select the timeline type you want to add, then select the specific timeline.
        </div>
        <img src="assets/images/timelines_add_generic.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
      <div>
        You can also add another Custom Timeline or text notes. You can also search for concept through the autocomplete
        input.
      </div>
      <img src="assets/images/timelines_autocomplete.gif">
      <mat-divider class="divider"></mat-divider>
      <div>
        To remove a timeline, hover your cursor over the timeline you want to remove. Click the X in the upper left
        corner of the timeline.
      </div>
      <img src="assets/images/timelines_delete.gif">
      <mat-divider class="divider"></mat-divider>
      <div>
        You can undo a deletion of a card, as well.
      </div>
      <img src="assets/images/timelines_undo_delete.gif">
      <mat-divider class="divider"></mat-divider>
      <div>
        To rearrange timelines, click the label or colored handle on the left hand side of the timeline you want to
        move, and hold the mouse button and drag and drop the timeline to your desired location.
      </div>
      <img src="assets/images/timelines_reorder.gif">
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Timeline Features">
    <div class="stepContent">
      <div>
        Timelines are categorized and color-coded by a vertical bar on the leftmost side of the data timeline.
      </div>
      <div>
        <div>
          You can hover over plotted data point and additional data displays in a tooltip.
        </div>
        <img src="assets/images/chartHover.gif">
        <mat-divider class="divider"></mat-divider>
        <img src="assets/images/chartHover2.gif">
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="stepperButtons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button (click)="onExit()">Close</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>